/* CSS File for Capstone Project SF Summit */
/* CSS File for Capstone Project SF Summit */
@font-face {
  font-family: 'Cocogoose';
  src: url('styles/fonts/Cocogoose.ttf') Format('truetype');
}

* {
  border-radius: 0 !important;
}

body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  color: #272A31;
}

article {
  margin: 0;
}


:root {
  --primary: #ec5242;
  --secondary: #d3d3d3;
  --dark: #272A31;
}

h1 {

  font-family: "Cocogoose", Helvetica, 'Times New Roman', sans-serif;
  color: var(--primary);
}

/* Create a background for the font */
.jumbotron-title {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/727/437/191/sci-fi-galaxy-orange-space-wallpaper-preview.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.icons {
  width: 100%;
  height: auto;
}

.primary {
  color: #ec5242;
}

time {
  font-family: "Cocogoose", Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

a {
  color: var(--dark);
}

a:hover {
  text-decoration-color: var(--primary);
}

.box-highlight {
  box-sizing: border-box;
  border: 0.2rem solid var(--primary);
  color: var(--primary);
  padding: 0.3rem;
}

.box-event {
  border: 0.5rem solid #fff;
  background-color: var(--light);
  margin: auto;
  padding: .3rem;
}



.jumbotron {
  background: none;
}

.jumbotron::after {
  content: "";
  background: url("/img/saturn-planet-pattern.jpg") bottom no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}

.main-program {
  background-color: var(--dark);
  height: auto;
  position: relative;
  z-index: -2;
  padding: 1rem;
}

.main-program::after {
  content: "";
  background: url("/img/rocket.jpg") bottom repeat;
  background-size: 24px auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.05;
  z-index: -1;
}

.dark-theme-text {
  text-align: center;
  color: var(--secondary)
}

hr {
  background-color: var(--primary);
  height: 0.05em;
  border: none;
  width: 2rem;
}

h4 {
  color: var(--primary);
}

.box-program {
  height: auto;
  position: relative;
  background-color: rgba(211, 211, 211, 0.1);
}

.bgprimary {
  background-color: var(--primary);
}

.info {
  color: var(--primary);
}

.speakers {
  max-width: 50%;
  position: relative;
}

.background-speakers {
  height: 30%;
  width: auto;
  top: -15px;
  left: 0;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.photo-author {
  width: 50vw;
  background-image: url("/img/SpacePattern.png");
}

.bio-author {
  width: 80vw;
}

.fas,
.fab {
  font-size: 36px;
  height: 50px;
}

button,
.program,
.fas,
.fab {
  color: var(--secondary);
}

button {
  margin: 1rem 20%;
  border: none;
}
